* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0b0f1a;
  color: white;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: linear-gradient(90deg,#050814,#0b0f1a);
  border-bottom: 1px solid #1e2740;
}

.navbar h1 {
  font-family: 'Times New Roman';
  color: bisque;
  font-size: 22px;
}

.copyright { color:red; }

.navbar input {
  padding: 10px 14px;
  border-radius: 8px;
  border: none;
  background: #121a2f;
  color: white;
}

/* GRID */
.film-grid {
  max-width: 1200px;
  margin: auto;
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}

.film-card {
  background: #121a2f;
  border-radius: 12px;
  cursor: pointer;
  transition: .3s;
}

.film-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(120,100,255,.5);
}

.poster {
  height: 220px;
  background-size: cover;
  background-position: center;
  border-radius: 12px 12px 0 0;
}

.film-card h3 {
  padding: 12px;
  text-align: center;
}

/* PLAYER */
#playerModal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.95);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#drivePlayer {
  width: 90vw;
  height: 90vh;
  max-width: 1400px;
  border-radius: 12px;
  border: none;
  background: black;
}

.close {
  position: absolute;
  top: 30px;
  right: 40px;
  font-size: 28px;
  cursor: pointer;
}

#nextPartBtn {
  position: absolute;
  bottom: 40px;
  right: 40px;
  padding: 12px 18px;
  background: #6c7cff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: none;
}

/* FOOTER */
footer {
  margin-top: 150px;
  padding: 20px;
  text-align: center;
  color: #9ca3af;
  border-top: 1px solid #1f2937;
}

/* MOBILE */
@media(max-width:768px){
  .film-grid { grid-template-columns: repeat(2,1fr); }
}

@media(max-width:480px){
  .film-grid { grid-template-columns: 1fr; }
}

.rengarenk{
  animation: rgbcolor 2.5s infinite linear;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@keyframes rgbcolor{
  0% { color: rgb(255, 0, 0); }
  16% { color: rgb(255, 165, 0); }
  32% { color: rgb(255, 255, 0); }
  48% { color: rgb(0, 255, 0); }
  64% { color: rgb(0, 255, 255); }
  80% { color: rgb(0, 0, 255); }
  100% { color: rgb(255, 0, 255); }
}

/* KAR CANVAS (EKLENEN TEK CSS) */
#snowCanvas{
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 9998;
}
